.testimony {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 140px;
  gap: 180px;
}
.testimony-left, .testimony-right {
  padding: 20px;
}
.testimony__ellipse {
  position: absolute;
  left: 0;
}
.testimony-left__subtitle {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.testimony-left__title {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.testimony-right {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  box-shadow: 1px 2px 0 rgba(27, 26, 31, 0.2);
  padding: 30px;
  margin: 0 60px;
}
.testimony-right__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 60px;
}
.testimony-right__author {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.testimony-right__job {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}