.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 1rem;
}

@media screen and (min-width:0) {
  .products {
    padding: 0 1rem 1.5rem 1rem;

  }
}
@media screen and (min-width:750px) {
  .products {
    padding: 0 0.5rem 1rem 0.5rem;

  }
}