.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 220px 230px 120px;
  box-sizing: border-box;
}
.banner__description {
  display: flex;
  flex-direction: column;
}
.banner__subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #FFFFDD;
}

.banner__title {
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  color: #FFFFDD;
}
.banner__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFFFFF;
  margin-bottom: 28px;
}
.banner__button {
  width: 140px;
  height: 40px;
  background-color: #016A70;
  color: #FFFFFF;
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}
.banner__img {
  width: 500px;
  box-sizing: border-box;
}