.founders {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width:0) {
  .founders {
    flex-direction: column;

  }
}
@media screen and (min-width:750px) {
  .founders {
    flex-direction: row;
  }
}