.footer__img {
  background-image: url('../../assets/img/footer-puppy.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  padding: 0 3rem;
}