.hero__img {
  background-image: url('../../../assets/img/beagle-hero.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 40%;
  padding: 0 3rem;
  margin-top: 3rem;
}